<!DOCTYPE html>
<!--Magento-temat innehåller en css progressbar som jag har använt på sidan 'RetroCrafts i navet. Jag vill ändå förstå hur man kodar en sådan funktion. Läste mer om progressbars på W3 Schools Därför har jag tagit med denna kodfil. Håller på att kolla upp funktionerna till detta JS, JQuery -->

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>
<div class="w3-container">

<h2>Det här hittar du hos RetroCrafts</h2>

<p>METALL</p>
<div class="w3-light-pink">
  <div class="w3-pink" style="height:14px;width:100%"></div>
</div><br>
<p>KERAMIK:</p>
<div class="w3-light-pink">
  <div class="w3-pink" style="height:14px;width:80%"></div>
</div><br>
<p>TRÄ</p>
<div class="w3-light-pink">
  <div class="w3-pink" style="height:14px;width:90%"></div>
</div><br>
<p>TEXTIL</p>
<div class="w3-light-pink">
  <div class="w3-pink" style="height:14px;width:50%"></div>
</div>

</div>
</body>
</html>